extends layout.pug


block content
    .main2
        .container-fluid
            .row
                .col-md-8.col-sm-12
                    .main2-1
                        ul
                            li.clearfix
                                .img.pull-left
                                .text-box.pull-left
                                    .top.clearfix
                                        b.pull-left vue
                                        a(class='pull-left' href='#') 这是文章标题
                                    .time.clearfix
                                        b.pull-left 赵剑华
                                        h5.pull-left 2021-06-28 20:35:20
                                .ping 0 评
                        .paging
                            a(class='prev' href='#') 上一页
                            dl
                                dd
                                    a(class='active' href='#') 1
                                dd
                                    a(href='#') 2
                            a(class='next' href='#') 下一页
                .col-md-4.col-sm-12
                    .main2-2
                        .title 公告
                        .con
                            | 潭州44期js实战 <br>
                            | 博客<br>
                            | 优秀的同学，绝对是优秀的同学
    








































