extends layout.pug

block content
    .main2
        .container-fluid
            .row
                .col-md-8.col-sm-12
                    .main2-3
                        .title 文章标题
                        .time 赵剑华 发表于：2021-06-28 00：28：30 分类：vue
                        .con 这是文章详细内容
                    .main2-4
                        .title
                            p 评论
                        textarea
                        button 回复
                .col-md-4.col-sm-12
                    .main2-2
                        .title 公告
                        .con
                            | 潭州44期js实战 <br>
                            | 博客 <br>
                            | 优秀的同学，绝对是优秀的同学