.main1
    .container-fluid
        .row
            .col-xs-12.clearfix
                ul.clearfix.pull-left
                    li.pull-left HTML
                    li.pull-left HTML
                    li.pull-left HTML
                    li.pull-left HTML
                    li.pull-left HTML
                    li.pull-left HTML
                a(class='fbwz pull-right' href='baidu.com') 发表文章