nav
    .container-fluid
        .row
            .col-xs-12.clearfix
                ul.clearfix.pull-left
                    li.pull-left
                        a(href="/") 首页
                    li.pull-left
                        a(href="/") WEB
                    li.pull-left
                        a(href="/") 大数据
                    li.pull-left
                        a(href="/") JAVA
                    li.pull-left
                        a(href="/") Python
                    li.pull-left
                        a(href="/") 关于博主
                .login.pull-right
                    a(href="/user/login") 登录
                    a(href="/user/reg") 注册
                //- .personal.pull-right.clearfix
                //-     .pull-left.text1
                //-          a(href="#") 个人中心
                //-     .imgbox.pull-left.clearfix
                //-         .img.pull-left
                //-         .text2.pull-left 雷神
                //-             dl
                //-                 <dd>
                //-                     a(href="#") 退出